<template>
  <div id="app">
    <nav class="navbar navbar-default" style="background-color:#1b1c1e;width:100%"> 
      <div class="container-fluid" >
        <ul class="nav navbar-nav" style="width:100%;float:left;">
          <li><img src="./assets/logo.png" ></li>
          <li><a href="http://localhost:8081/#/Home">Home</a></li>
          <a href="http://localhost:8081/#/"><img src="./assets/login.png" style="float:right; "></a>
        </ul>
      </div>
    </nav>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  /* margin-top: 60px; */
}
img {
  align-content: left;
    /* max-width:20%; */
    width: 40px;
    height:auto;
    margin-top: 5px; 
}


</style>
